# Python
__pycache__/
*.py[cod]
venv/
node_modules/



db.sqlite3
# Entorno
.env

media/
staticfiles/
venv/
.venv/
env/
.vscode/
# static/css
# static/js/dist/assets

# Archivos de SO
.DS_Store

# Node / Tailwind
node_modules/
npm-debug.log*

