{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="relative w-full h-100 overflow-hidden group shadow-lg">
        <img src="{{ tour.imagen_principal.url }}"
             class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition-transform duration-700">
        <div class="absolute inset-0 bg-black/40 group-hover:bg-black/20 transition-colors"></div>
        
        <div class="absolute inset-0 p-6 flex flex-col text-white uppercase justify-center items-center">
            <h3 class="text-3xl font-bold mb-1 text-center">{{ tour.nombre }}</h3>

        <div id="reservation-widget">
                <booking-app
                    :precio-adulto="{{ precios.valor_adulto|default:0 }}" 
                    :precio-nino="{{ precios.valor_nino|default:0 }}"
                    :tour-id="{{ tour.id }}">

                    <template v-slot:trigger>
                        <div class="text-center mt-5">
                            <button type="button"
                                class="bg-orange-500 hover:bg-orange-600 px-6 py-3 text-white font-bold transition rounded shadow-lg uppercase relative z-20">
                                RESERVAR AHORA
                            </button>
                        </div>
                    </template>
                </booking-app>
            </div> 
        </div> </section>

        <section class="container mx-auto px-4 md:px-50 pt-20 pb-10 border-b border-gray-100">
            <h1 class="font-marcellus text-5xl text-gray-900 mb-12 text-center">Bitácora</h1>
            <div class="prose prose-slate max-w-none prose-headings:font-marcellus prose-p:text-lg prose-p:leading-relaxed prose-p:my-6 prose-strong:text-orange-600">
                {{ tour.itinerario|safe }}
            </div>
        </section>
        {% if tour.youtube_embed_url %}
            <section class="container mx-auto px-4 py-8 text-center">
                <h2 class="text-3xl font-bold mb-6 text-gray-800">Video del Tour</h2>
                <div class="max-w-4xl mx-auto overflow-hidden rounded-2xl shadow-2xl">
                    <iframe class="w-full aspect-video"
                            src="{{ tour.youtube_embed_url }}"
                            referrerpolicy="strict-origin-when-cross-origin"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>
            </section>
        {% else %}
            <section class="container mx-auto px-4 py-8 text-center opacity-50">
                <p class="italic text-gray-500">Estamos preparando un video increíble de este tour para ti.</p>
            </section>
        {% endif %}
        
        <hr class="mx-5 py-5">
        <section class="container mx-auto px-4 py-8 text-center">
            <h2 class="text-3xl font-bold mb-6 text-gray-800">Galería de Fotos</h2>
            <div class="flex flex-wrap justify-center gap-3">
                {% for foto in fotos %}
                    <a href="{{ foto.imagen.url }}"
                       class="glightbox"
                       data-gallery="gallery1">
                        <img src="{{ foto.imagen.url }}"
                             class="h-56 w-46 rounded-2xl hover:scale-110 transition-transform duration-300" />
                    </a>
                {% endfor %}
            </div>
        </section>
        <script type="text/javascript">
            
            const lightbox = GLightbox({
                touchNavigation: true, // Permite deslizar en móviles
                loop: true, // Vuelve a la primera foto después de la última
                autoplayVideos: true, // Si tienes videos, los reproduce solos
                zoomable: true // ¡ACTIVA EL ZOOM!
            });



        </script>









        {% if debug %}
            {# MODO DESARROLLO: Conectamos con el servidor de Vite #}
            <script type="module" src="http://localhost:5173/static/src/main.js"></script>
        {% else %}
            {# MODO PRODUCCIÓN: Archivo compilado por npm run build #}
            {# Nota: Después de tu primer 'build', verifica el nombre exacto en static/js/dist #}
            <script type="module" src="{% static 'js/dist/main.js' %}"></script>
        {% endif %}

    {% endblock %}
