{% extends 'base.html' %}
{% block title %}{{ post.titulo }} | Orange Travel{% endblock %}
{% block content %}
    {% load static %}
    <section class="bg-white py-20 border-b border-gray-100 px-10 md:px-20">
        <div class="container mx-auto px-4 text-center">
            <h1 class="text-3xl font-black text-gray-900 mb-4">{{ post.titulo }}</h1>
        </div>
    </section>
    <section class="container px-10 md:px-20">
        <article class="resena-content">{{ post.contenido|safe }}</article>
    </section>
{% endblock %}
