@import "tailwindcss";
/* @import "@tailwindcss/typography"; */
@plugin "../../node_modules/@tailwindcss/typography";

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@theme {
  /* Definimos los colores de Orange Travel estilo Tailwind 4 */
  --color-orange-50: #fff8ed;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  
  /* Agregamos el azul oscuro para contraste si gustas */
  --color-blue-dark: #293D54;
  --font-marcellus: "Marcellus", serif;
}

/* CRITICO: Tailwind 4 necesita saber qué archivos escanear para generar .prose */
@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";